.contact {
  background-image: url("https://image.freepik.com/free-photo/workers-considering-term-agreement_1098-1517.jpg");
  height: 50%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
