.about {
  background-image: url("https://image.freepik.com/free-photo/aerial-view-business-team_53876-124515.jpg");
  height: 50%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
